.changelog {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 14px;
  border-top: 1px solid
    var(--mat-form-field-filled-container-color, var(--mat-sys-surface-variant));
  max-width: min(calc(100dvw - 40px), 800px);

  > div {
    padding: 10px;
    border-bottom: 1px solid
      var(
        --mat-form-field-filled-container-color,
        var(--mat-sys-surface-variant)
      );
  }
}
