/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

html,
body {
  height: 100%;
}

main #app {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  margin-block-start: 1.33em;
  .version {
    font-size: 14px;
    font-weight: 300;
  }
}

h2 {
  font-size: 24px;

  .documentation & {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: var(
      --mat-form-field-filled-container-color,
      var(--mat-sys-surface-variant)
    );
  }
}

h3 {
  font-size: 20px;
  text-align: left;
  text-align: center;
}

h2,
h3 {
  margin-top: 2em;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: normal;
  background-color: var(--mat-sys-primary-container);
  padding-left: 6px;
  padding-right: 6px;
}

a {
  color: var(--mat-sys-primary);
}

ul {
  padding-inline-start: 20px;
}

hr {
  opacity: 0.4;
  margin-top: 48px;
}

mat-dialog-container .mat-mdc-dialog-surface {
  mat-dialog-content {
    padding-top: 0 !important;
  }

  h2 {
    margin-top: 36px;
  }
}

mat-label {
  opacity: 0.5;
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  background-color: var(--mat-sys-on-secondary);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 3px 12px;
  border-color: var(
    --mat-form-field-filled-container-color,
    var(--mat-sys-surface-variant)
  );
  border-width: 1px;
  border-style: solid;
}

th {
  font-weight: normal;
  text-align: left;
  background-color: var(
    --mat-form-field-filled-container-color,
    var(--mat-sys-surface-variant)
  );
}
