/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  .version {
    font-size: 14px;
    font-weight: 300;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h2,
h3 {
  margin-top: 2em;
}

mat-dialog-container .mat-mdc-dialog-surface {
  mat-dialog-content {
    padding-top: 0 !important;
  }

  h2 {
    margin-top: 36px;
  }
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  background-color: var(--mat-sys-on-secondary);
}
