:host {
  display: inline-block;
  width: auto;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
}

$highlight-color: #72bf44;

h1,
h2,
h3 {
  text-align: center;
  font-weight: 300;
}

h1 {
  margin-top: 0;

  .version {
    font-size: 14px;
    font-weight: 300;
  }
}

h2,
h3 {
  margin-top: 2em;
}

input,
select {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  height: 33px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chords {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
}

#buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  border: solid 1px #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

.next-chord,
.current-chord {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1em;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  background-color: #ffffff33;
  padding: 20px;
  width: calc(100% - 10px);
  height: 40px;

  > div:first-child {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.next-chord {
  color: #ffffff;
}

.current-chord {
  color: $highlight-color;
}

#beats {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.beat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #555;
}

.highlight-beat {
  background-color: $highlight-color;
}

#configuration {
  margin-top: 40px;
  text-align: center;
  max-width: max(100dvw, 800px);
}

.configuration-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  background-color: #ffffff33;
  padding: 40px;
  border-radius: 8px;
}

.configuration-item {
  display: flex;
  gap: 10px;
  align-items: center;

  &.tempo {
    .button {
      padding: 5px 8px;
    }

    input[type="number"] {
      text-align: right;
      width: 50px;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: none;
    }
  }
}

.keyboard-shortcuts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  div:nth-child(odd) {
    border: 1px solid #fff;
    width: auto;
    display: inline-block;
    border-radius: 8px;
    justify-self: center;
    padding: 5px 10px;
    background-color: #ffffff33;
  }
}

@media (max-width: 600px) {
  .configuration-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .configuration-item {
    justify-content: center;
  }
}
