:host {
  display: inline-block;
  width: 100%;
  max-width: min(calc(100dvw - 40px), 500px);
}

#chords {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
}

#chords .type {
  font-size: 70%;
  line-height: 100%;
  margin-left: 3px;
}

#chords .type.subscript {
  align-self: flex-end;
}

#prevChord,
#nextChord,
#currentChord {
  .voicing-type {
    font-size: 0.5em;
  }
}

#buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.next-chord,
.current-chord {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1em;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 56px;

  > div:first-child {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media (max-width: 500px) {
  .next-chord,
  .current-chord {
    font-size: 24px;

    > div:first-child {
      margin-top: 2px;
      font-size: 12px;
    }
  }
}

@media (max-width: 400px) {
  .next-chord,
  .current-chord {
    font-size: 20px;

    > div:first-child {
      margin-top: 2px;
      font-size: 10px;
    }
  }
}

.next-chord {
  background-color: var(
    --mat-form-field-filled-container-color,
    var(--mat-sys-surface-variant)
  );
}

.current-chord {
  background-color: var(--mat-sys-primary-container);
}

#beats {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.beat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(
    --mat-form-field-filled-container-color,
    var(--mat-sys-surface-variant)
  );
}

.highlight-beat {
  background-color: var(--mat-sys-primary-container);
}

#configuration {
  margin-top: 40px;
  width: 100%;

  mat-card {
    padding: 30px 20px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    background-color: var(
      --mat-form-field-filled-container-color,
      var(--mat-sys-surface-variant)
    );
  }
}

.tempo-configuration {
  display: flex;
  gap: 10px;
  align-items: center;

  button {
    margin-top: -18px;
  }
}

#open-keyboard-shortcuts,
#docs {
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  text-align: center;

  .keyboard-shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;

    div:nth-child(odd) {
      border: 1px solid #000;
      width: auto;
      display: inline-block;
      border-radius: 8px;
      justify-self: center;
      padding: 5px 10px;
      background-color: #ffffff33;
    }
  }
}

@media (max-width: 600px) {
  .configuration-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .configuration-item {
    justify-content: center;
  }
}
