<h1>Practice Jazz Chords
</h1>

<audio #silentAudio>
  <source src="/assets/sound/silent.mp3" type="audio/mp3">
</audio>

<div id="chords">
  <div class="next-chord">
    <div>next</div>
    <div id="nextChord" [innerHTML]="nextKey1() ?? '&nbsp;'"></div>
  </div>
  <div class="current-chord">
    <div>play</div>
    <div id="currentChord" [innerHTML]="currKey() ?? '&nbsp;'"></div>
  </div>
</div>

<div id="beats">
  <div class="beat" [ngClass]="{'highlight-beat': toneService.beat() % 4 === 0}"></div>
  <div class="beat" [ngClass]="{'highlight-beat': toneService.beat() % 4 === 1}"></div>
  <div class="beat" [ngClass]="{'highlight-beat': toneService.beat() % 4 === 2}"></div>
  <div class="beat" [ngClass]="{'highlight-beat': toneService.beat() % 4 === 3}"></div>
</div>

<div id="buttons">
  <button mat-fab id="startButton" (click)="start()" [disabled]="isRunning()"><mat-icon>play_arrow</mat-icon></button>
  <button mat-fab id="stopButton" (click)="stop()" [disabled]="!isRunning()"><mat-icon>stop</mat-icon></button>
</div>

<div id="configuration">
  <mat-card appearance="outlined">
    <div class="tempo-configuration">
      <button mat-mini-fab (click)="changeTempo(-10)" title="CTRL + &larr;">-10</button>
      <button mat-mini-fab (click)="changeTempo(-1)" title="&larr;">-1</button>
      <mat-form-field>
        <mat-label>Tempo</mat-label>
        <input matInput class="tempo-input" type="number" min="minTempo" max="maxTempo" #tempoInput
          [value]="toneService.tempo()" (change)="setTempo(tempoInput.value)" />
      </mat-form-field>
      <button mat-mini-fab (click)="changeTempo(1)" title="&rarr;">+1</button>
      <button mat-mini-fab (click)="changeTempo(10)" title="CTRL + &rarr;">+10</button>
    </div>

    <mat-form-field>
      <mat-label>Chords</mat-label>
      <mat-select [value]="selectedExercise().name" (valueChange)="setExercise($event)">
        @for (configurationItem of exercises; track configurationItem) {
        <mat-option [value]="configurationItem.name">{{
          configurationItem.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mode</mat-label>
      <mat-select [value]="selectedMode()" (valueChange)="setMode($event)">
        @for (mode of modes; track mode) {
        <mat-option [value]="mode.key">{{
          mode.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- <mat-checkbox [checked]="toneService.playRootNote" (change)="setPlayRootNote($event.checked)">Play Root
      Note</mat-checkbox> -->

    <button mat-fab extended (click)="openKeysDialog()">Configure Keys</button>
  </mat-card>
</div>

<div id="open-keyboard-shortcuts" (click)="openShortcuts()">Keyboard shortcuts</div>

<!--<h2>Known Issues</h2>
<div class="changelog">
  <div>2025-01-13</div>
  <div>The metronom click sound is not playing on iOS devices</div>
</div>-->

<h2>Description</h2>
<p>The Jazz Chord Trainer is a web application designed to help musicians practice jazz chords in an interactive and
  structured way. The app displays random chord flashcards (e.g., C<sup>maj7</sup>, G<sup>7</sup>, Dm<sup>7</sup>)
  on
  the screen, challenging users to play them in time with the specified tempo.</p>

<p>With a built-in tempo control, users can adjust the speed to match their skill level, making it useable for
  beginners and advanced players alike.</p>

<dialog id="shortcuts">
  <h2>Keyboard Shortcuts</h2>
  <div class="keyboard-shortcuts">
    <div>SPACE</div>
    <div>Start / Stop</div>

    <div>&larr;</div>
    <div>Tempo - 1</div>

    <div>SHIFT + &larr;</div>
    <div>Tempo - 5</div>

    <div>CTLR + &larr;</div>
    <div>Tempo - 10</div>

    <div>&rarr;</div>
    <div>Tempo + 1</div>

    <div>SHIFT + &rarr;</div>
    <div>Tempo + 5</div>

    <div>CTRL + &rarr;</div>
    <div>Tempo + 10</div>

    <div>ESC</div>
    <div>Close keyboard shortcuts</div>
  </div>

  <button mat-fab extended id="close-shortcuts" (click)="closeShortcuts()">Close</button>
</dialog>