<nav aria-label="Top toolbar">
  @if (isMobile()) {
  <a mat-button href="/">Practice</a>
  <a mat-button href="/documentation">Documentation</a>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/change-log">Change Log</a>
    <a mat-menu-item href="/contact">Contact</a>
  </mat-menu>
  } @else {
  <a mat-button href="/">Practice</a>
  <a mat-button href="/documentation">Documentation</a>
  <a mat-button href="/change-log">Change Log</a>
  <a mat-button href="/contact">Contact</a>
  }
</nav>

<main>
  <div id="app">
    <router-outlet></router-outlet>
  </div>
</main>
