<nav aria-label="Top toolbar">
  @if (isMobile()) {
  <button mat-button routerLink="/">Practice</button>
  <button mat-button routerLink="/documentation">Documentation</button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/change-log">Change Log</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
  } @else {
  <button mat-button routerLink="/">Practice</button>
  <button mat-button routerLink="/documentation">Documentation</button>
  <button mat-button routerLink="/change-log">Change Log</button>
  <button mat-button routerLink="/contact">Contact</button>
  }
</nav>

<main>
  <div id="app">
    <router-outlet></router-outlet>
  </div>
</main>