:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

nav {
  background-color: var(
    --mat-form-field-filled-container-color,
    var(--mat-sys-surface-variant)
  );
  padding: 5px;
  text-align: right;
  text-transform: uppercase;

  button,
  a.mat-mdc-button {
    color: white;
    font-weight: 300;
  }
}

.mat-mdc-menu-item {
  padding-left: 24px;
  padding-right: 24px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: auto;
}
